<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Admin.Properties.Settings.QLNVConnectionString" connectionString="Data Source=LAB2-MAY09;Initial Catalog=QLNV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>